@page
@model IndexModel
@{
    ViewData["Title"] = "Найти и купить винил (виниловую пластинку)";
    ViewData["PageClass"] = "landing-page main-page";
    var isExists = !string.IsNullOrEmpty(Model.SearchText);
}

<div class="header @(isExists? "header-small-filter" : "header-filter")" style="background-image:url(/img/vinyl/landing.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-7  @(isExists? "" : "col-md-offset-3")">
                <form method="get" class="form-search-vinyl">
                    <div class="form-group label-floating form-inline @(isExists? "" :"is-empty")">
                        <label class="control-label title">Введите название альбома или артиста</label>
                        <input type="text" class="form-control" name="search" id="search" value="@Model.SearchText" >
                        <button class="btn btn-primary btn-raised text-center">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@if (isExists)
{
<div class="main main-raised">
    <div class="section section-basic">
        <div class="container tim-row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <small class="label label-success">Найдено: @(Model.Items?.Count ?? 0) шт.</small>
                @if (Model.Items?.Count == 100)
                {
                <br /><small>Отображаются не все записи....</small>
                }
            </div>

            @if (Model.Items?.Count > 0)
            {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th colspan="2">Название</th>
                        <th>Цена в бел.руб.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.Items)
                    {
                        <tr>
                            <td width="100">
                                <img alt="@record.RecordUrl" src="./Index?id=@record.RecordId&handler=RecordImage" height="60" />
                            </td>
                            <td>
                                <div><a asp-page="./Record" asp-route-name="@record.RecordUrl">@Html.Raw(record.TextLine1)</a></div>
                                <div>@Html.Raw(Model.GetSecondLineText(record))</div>
                            </td>
                            <td>
                                @if (!record.Sell)
                                {
                                    <p>Не продается</p>
                                }
                                <p>@Html.Raw(Model.GetPriceText(record))</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>
}