@page
@model IndexModel
@{
    ViewData["Title"] = "Найти и купить пластинку";
}

<h2>Найти и купить пластинку</h2>
<form method="get">
    <div class="form-actions no-color">
        <p>
            @Html.TextBox("search")
            <input type="submit" value="Найти" class="btn btn-default"  />
        </p>
    </div>
</form>
        
@if (Model.Items != null && !string.IsNullOrEmpty(Model.SearchText))
{
    <p>
        Найдено @Model.Items.Count
    </p>

    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th colspan="2">Название</th>
                <th>Цена в бел.руб.</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var record in Model.Items)
            {
                <tr>
                    <td width="100">
                        <img onload="" src="./Index?id=@record.RecordId.Compress()&handler=RecordImage" height="60" />
                    </td>
                    <td>
                        <div><a asp-page="./Record" asp-route-id="@record.RecordId.Compress()">@record.TextLine1</a></div>
                        <div>@Model.GetSecondLineText(record)</div>
                    </td>
                    <td>
                        @if (!record.Sell)
                        {
                            <p>Не продается</p>
                        }
                        <p>@Model.GetPriceText(record)</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

