@page
@model Vinyl.Site.Pages.RecordModel
@{
    ViewData["Title"] = $"{Model.Record.Album} / {Model.Record.Artist}";
    ViewData["PageClass"] = "landing-page";
}

<div class="main main-raised">
    <div class="section section-basic">
        <div class="container tim-row">

            <div class="record-info-block">
                <h3>@Model.Record.Album / @Model.Record.Artist  / @Model.Record.Year</h3>
                <input type="hidden" value="@Model.Record.Id" name="recordId">
                <div class="row">
                    <div class="col-sm-6 record-info">
                        <strong>Альбом: </strong>@Model.Record.Album<br />
                        <strong>Артист: </strong>@Model.Record.Artist<br />
                        <strong>Год: </strong>@Model.Record.Year<br />

                        @if (!string.IsNullOrEmpty(Model.Record.Info))
                        {
                            <strong>Дополнительно: </strong>@Model.Record.Info<br />
                        }
                        <p class="youtube-info"><strong>Поиск на:</strong> <a target="_blank" class="label label-info" href="@Model.ToYouTubeLink()">YouTube</a></p>
                    </div>
                    <div class="col-sm-6 record-links">

                    </div>
                </div>
            </div>

            @if (Model.Record.RecordLinks?.Any() == true)
            {
                <hr />
                <div class="record-links-block">
                    <h3>Информация из других источников</h3>
                    @{
                        var discogsLink = Model.GetDiscogsLink();
                    }
                    <div class="row">
                        <div class="col-sm-6 record-info">
                            <h4 class="text-success"><strong>Discogs <a target="_blank" class="label label-success" href="@discogsLink.link">@discogsLink.text</a> </strong></h4> 

                            <div>
                                <div>
                                    <p><strong>Список композиций</strong></p>
                                    @foreach (var track in Model.GetDiscogsTracks())
                                    {
                                        <p>- @track <a target="_blank" class="label label-info" href="@Model.ToYouTubeLink(track)">YouTube</a></p>
                                    }
                                </div>
                                <br />
                                <div>
                                    <p><strong>Список ссылок на видео</strong></p>
                                    @foreach (var videoLink in Model.GetDiscogsVideos())
                                    {
                                    <text>- </text><a target="_blank" href="@videoLink.url">@videoLink.title</a><br />
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 record-links">
                            <img onload="" src="./Index?id=@Model.Record.Id.Compress()&handler=RecordImage" height="200" />
                        </div>
                    </div>
                </div>
            }
            @if (Model.Record.RecordInShopLink?.Any() == true)
            {
                <hr />
                <div class="record-in-shops-block">
                    <h3>В магазинах</h3>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Магазин</th>
                                <th>Описание</th>
                                <th>Цена в бел.руб.</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var risLink in Model.Record.RecordInShopLink)
                            {
                                var shopItem = Model.GetShopBy(risLink);
                                <tr>                                   
                                    <td>
                                         <div class="row">
                                            <div class="col-lg-3">
                                                @if (!string.IsNullOrEmpty(risLink.ShopImageUrl))
                                                {
                                                    <img onload="" src="@risLink.ShopImageUrl" height="60" />
                                                }
                                            </div>
                                            <div class="col-lg-9">
                                                <a target="_blank" class="btn btn-success btn-round btn-sm" href="@shopItem.Url">@shopItem.Title</a> <br />
                                                @if (shopItem.ShopType == (int)ShopType.Private)
                                                {
                                                    <strong>Частная коллекция</strong><br />
                                                }
                                                @if (!string.IsNullOrEmpty(shopItem.Phones))
                                                {
                                                    <strong>Телефон: </strong><a href="tel:@shopItem.Phones">@shopItem.Phones</a><br />
                                                }
                                                @if (!string.IsNullOrEmpty(shopItem.Emails))
                                                {
                                                    <strong>E-mail: </strong><a href="mailto:@shopItem.Emails">@shopItem.Emails</a><br />
                                                }
                                            </div>
                                        </div>
                                        
                                    </td>
                                    <td style="word-break: break-all;">
                                        <p class="ShopRecordTitle-info"  style="word-break: break-all;"><strong>@risLink.ShopRecordTitle</strong><br />
                                        @if (!string.IsNullOrEmpty(risLink.ShopInfo))
                                        {
                                            @Html.Raw(string.Join("<br />", risLink.ShopInfo.Split("\n")))
                                        }
                                        </p>
                                        @if (!string.IsNullOrEmpty(risLink.Barcode))
                                        {
                                            <text>Код: @risLink.Barcode</text><br />
                                        }
                                        @if (!string.IsNullOrEmpty(risLink.CountInPack))
                                        {
                                            <text>Количество: @risLink.CountInPack</text><br />
                                        }
                                        @if (!string.IsNullOrEmpty(risLink.YearRecorded))
                                        {
                                            <text>Год записи: @risLink.YearRecorded</text><br />
                                        }
                                        @if (!string.IsNullOrEmpty(risLink.Country))
                                        {
                                            <text>Страна: @risLink.Country</text><br />
                                        }
                                        @if (!string.IsNullOrEmpty(risLink.Label))
                                        {
                                            <text>Лэйбл: @risLink.Label</text><br />
                                        }
                                        @if (!string.IsNullOrEmpty(risLink.State))
                                        {
                                            <text>Состояние: @risLink.State</text><br />
                                        }
                                        @if (!string.IsNullOrEmpty(risLink.Style))
                                        {
                                            <text>Стиль: @risLink.Style</text><br />
                                        }
                                        @if (!string.IsNullOrEmpty(risLink.ViewType))
                                        {
                                            <text>Вид: @risLink.ViewType</text><br />
                                        }
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-3 text-center">
                                                <div style="font-size:x-large"><strong>@risLink.PriceBy?.ToString("F2")</strong></div>
                                            </div>
                                            <div class="col-lg-9 text-center" style="font-size:medium;padding-top:3px">
                                                @if (!Model.IsActive(risLink))
                                                {
                                                    <div style="color:red"><strong>Не продается</strong></div>
                                                }
                                                else
                                                {
                                                    <div style="color:green"><strong>В наличии</strong></div>
                                                }
                                            </div>
                                        </div>

                                        <p class="text-muted"  style="word-break: break-all;">Информация обновлена: @risLink.UpdatedAt.ToString("dd.MM.yyyy")</p>
                                        <br />
                                        <a target="_blank" class="label label-success" href="@(!string.IsNullOrEmpty(risLink.ShopUrl) ? risLink.ShopUrl : shopItem.Url)">В магазин</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
